*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.logo{
    width: 140px;
    height: auto;
    float: left;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    border: 1px solid white;
}
.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: white;
    font-size: 55px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 30px;
    font-weight: normal;
    width: 900px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons{
    margin: 35px 280px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: darkorange;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
}
.buttons .btn{
    margin-left: 25px;
}
.buttons button:hover{
    background: white;
}
*{
    margin: 0;
    padding: 0;
    
}
.center h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.xy{
    color:white;
    font-size: 20px;
    font-weight: bold;
    
}
.ty{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.ul{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    color: white;
}
li
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    color: white;
}